---
---

<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
  <div
    class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
  >
    <h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
  </div>

  <div class="w-full text-justify text-black dark:text-white lg:w-1/2">
    <p class="mb-2">
      Building on my foundation as a recent computer application graduate, I bring one year of hands-on experience in software development. During this time, I've further honed my skills in Git, JavaScript, and Python, and gained practical experience in leveraging Docker for efficient containerization. My journey in the field has reinforced my commitment to continuous learning and automation, as I actively seek ways to enhance and streamline development processes.
      With a year of professional experience under my belt, I've developed a keen problem-solving mindset that I'm eager to apply in collaborative and cross-functional team settings. I am excited to contribute my skills and knowledge to drive efficient software development and make meaningful contributions to innovative projects.  </div>
</section>
