---
---

<section
  data-testid="about"
  id="about"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
  <div
    class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2"
  >
    <h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
    <span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
  </div>

  <div class="w-full text-justify text-black dark:text-white lg:w-1/2">
    <p class="mb-2">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, porro
      velit? Similique maxime iste voluptatibus veritatis atque adipisci quo
      placeat consequatur nostrum cupiditate vel quibusdam facere unde numquam
      officia sed tempore, omnis doloremque quod aspernatur ipsam a. Itaque a
      quisquam architecto, repellendus voluptates quasi corporis non aliquam?
      Tenetur soluta accusamus, unde iusto voluptatum exercitationem id dolorum
      eum neque veniam optio libero repellat a commodi consequatur ad? Nesciunt
      porro, ipsum error nostrum optio culpa, maiores dicta fugit, quo animi
      saepe atque harum iure assumenda voluptatem aut quae nam. Modi consequatur
      tenetur ullam labore, id alias expedita iusto, architecto minus unde magni
      iure fugiat non nemo repellat vel a eius maiores! Ducimus, nemo quisquam
      amet recusandae tenetur deserunt id libero quaerat, neque totam autem quia
      molestias eligendi magni ea? Voluptate, ad. Dignissimos porro veniam
      corrupti quia iure eaque tempore eveniet consequatur possimus autem quo
      aperiam maiores dolorem fuga repellat vero error magni maxime distinctio
      voluptate doloremque, odio impedit voluptates quibusdam! Illo eum omnis
      placeat praesentium! Nesciunt?
    </p>
  </div>
</section>
