---
import heroImage from '../../public/hero.svg';
import { Image } from 'astro:assets';
import Button from '@components/ui/Button.astro';
---
<section
  data-testid="hero"
  class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
  <div class="mb-3 flex flex-col items-center lg:mb-0 lg:w-1/2">
    <div>
      <h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
        Hi! My name is <span>Trilochan Aryal</span> and I love to build scalable, accessible web applications.
      </h1>
    </div>
    <div class="mb-10">
      <a href="#about" class="flex">
        <Button style={'primary'} size={'lg'} name="learn more">Learn more</Button>
      </a>
    </div>
  </div>
  <div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
    <Image
      src={heroImage}
      alt="hero image"
      format="png"
      width={600}
      height={600}
      loading="eager"
    />
  </div>
</section>
